{
	"extends": [
		"eslint:recommended",
		"plugin:vue/recommended"
	],
	"rules": {
        "vue/html-self-closing": "off",
        "vue/require-prop-types": "off",
        "no-undef":"warn",
        "semi": [
            "error",
            "always"
        ],"indent": [
            "error",
            4
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ]
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 8
    }
}
