// Body
$body-bg: #e4eaec;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$darkblue: #00364a;
$indigo: #6574cd;
// $purple: #9561e2;
$purple: #9561e2;
$pink: #f66d9b;
$red: #ce2d4f; //#e3342f;
$orange: #fba04b; //#f6993f;
$yellow: #ffed4a;
$green: #60b257; //#38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey: #e6eaec;

$primary: #0091bc;
$danger: $red;
$success: $green;
$info: $cyan;
$light: $body-bg;
$dark: #262c3f;
$warning: $orange;

$border-radius: 0.4rem !default;
$border-radius-lg: 0.5rem !default;
$border-radius-sm: 0.25rem !default;
$custom-checkbox-indicator-border-radius: $border-radius-sm !default;
$yiq-contrasted-threshold: 150;

$theme-colors: (
    'default': $body-bg,
    'grey': $grey,
    'whatsapp': #4be677,
    'dark-blue': $darkblue,
);
