// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Plugins
@import '~axios-progress-bar/dist/nprogress.css';
@import '~v-calendar/lib/v-calendar.min.css';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// App
@import 'typography';
@import 'tabs';
@import 'transitions';
@import 'site-layout';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-settings {
    @extend .mb-4;

    .nav-heading {
        @extend .mb-3;
        font-size: 14px;
        text-transform: uppercase;
        color: $gray-500;
    }

    .nav-link {
        padding: 0 0 0.5rem;
        font-size: 1rem;
        font-weight: bold;
        color: $gray-700;

        &:hover,
        &.active {
            color: $primary;
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}

.bg-transparent {
    background-color: transparent !important;
}
.bg-white-50 {
    background-color: rgba(255, 255, 255, 0.5);
}

.border-transparent {
    border-color: transparent !important;
}
.border-white {
    border-color: white !important;
}
.border-primary {
    border-color: $primary !important;
}
.opacity-50 {
    opacity: 0.5 !important;
}

.dropdown.top-menu {
    .dropdown-item {
        img {
            max-width: 20px;
            border-radius: 20px;
        }
        .fa-check {
            font-size: 16px;
        }
    }
}

$loaderColor: lighten($primary, 10%);
#nprogress .bar {
    background: $loaderColor !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px $loaderColor, 0 0 5px $loaderColor !important;
}

#nprogress .spinner-icon {
    border-top-color: $loaderColor !important;
    border-left-color: $loaderColor !important;
}
