            input-select-2(
                label="Dummy Label",
                url="/dummy-url",
                v-model="form.dummy_field",
                :form="form",
                field="dummy_field")
